
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky" data-offset="500">
      <div class="container-fluid">
        <a href="index.html" class="navbar-brand text-danger" >TG<span class="" style="color:#ebc400">OPEN</span><span class="text-success">TRANSPORT</span></a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarContent">
          <ul class="navbar-nav ml-auto ml-lg-6">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Acceuil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Jeux de données</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Thèmes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Documentation</a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link" href="service.html">Services</a>
            </li> !-->
            <li class="nav-item">
              <a class="nav-link" href="blog.html">Blog</a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li> !-->
            <li class="nav-item">
              <a class="nav-link" href="about.html">A propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary font-weight-lighter ml-lg-2" href="{% url 'login' %}">Se connecter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary font-weight-lighter ml-lg-2" href="/register">Créer un compte</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <!--<div class="container">
      <div class="page-banner home-banner">
        <div class="row align-items-center flex-wrap-reverse h-100">
          <div class="col-md-6 py-5 wow fadeInLeft">
            <h1 class="mb-4">Let's Check and Optimize your website!</h1>
            <p class="text-lg text-grey mb-5">Ignite the most powerfull growth engine you have ever built for your company</p>
            <a href="#" class="btn btn-primary btn-split">Watch Video <div class="fab"><span class="mai-play"></span></div></a>
          </div>
          <div class="col-md-6 py-5 wow zoomIn">
            <div class="img-fluid text-center">
              <img src="../assets/img/banner_image_1.svg" alt="">
            </div>
          </div>
        </div>
        <a href="#about" class="btn-scroll" data-role="smoothscroll"><span class="mai-arrow-down"></span></a>
      </div>
    </div> !-->
  </header>
